* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.body {
    max-width: 1440px;
    min-width: 769px;
    max-height: 100%;
    font-family: Montserrat;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    width: 1440px;
}
.container {
    margin-bottom: 1.8%;
}
.nav {
    margin: 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 4.13%;
    justify-content: space-around;
}
.nav__logo {
    display: block;
    display: flex;
    margin-top: 1.55%;
    /* margin-left: 2.9%; */
    width: 166px;
    height: 51px;
}
.nav__menu {
    margin-top: 2.69%;
    display: flex;
    justify-content: space-between;
    /* margin-left: 18%; */
    /* white-space: nowrap; */
}
.nav__menu-s {
    font-family: "Montserrat";
    font-weight: "SemiBold";
    font-style: normal;
    text-decoration: none;
    font-size: 15px;
    line-height: 19px;
    color: #000000;
}
.nav__menu-s:hover {
    color: #e51937;
    background-image: url(/images/underlining.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 21px;
    cursor: pointer;
}
.nav__menu-x {
    font-family: "Montserrat";
    font-weight: "SemiBold";
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    line-height: 19px;
    /* margin-right: 19.7%; */
}
.nav__menu-x:hover {
    color: #e51937;
    background-image: url(/images/underlining.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 21px;
    cursor: pointer;
}
.nav__menu-3 {
    font-family: "Montserrat";
    font-weight: "SemiBold";
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    line-height: 18px;
    /* margin-left: 8%; */
    margin-top: 0.1%;
}
.nav__menu-3:hover {
    color: #e51937;
    background-image: url(/images/underlining.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 21px;
    cursor: pointer;
}
.nav__menu-roadster {
    font-family: "Montserrat";
    font-weight: "SemiBold";
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    line-height: 18px;
    /* margin-left: 13.5%; */
    margin-top: 0.1%;
}
.nav__menu-roadster:hover {
    color: #e51937;
    background-image: url(/images/underlining.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 21px;
    cursor: pointer;
}
.nav__menu-energy {
    max-width: 100%;
    font-family: "Montserrat";
    font-weight: "SemiBold";
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    line-height: 18px;
    /* margin-left: 14.6%; */
    margin-top: 0.1%;
}
.nav__menu-energy:hover {
    color: #e51937;
    background-image: url(/images/underlining.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 21px;
    cursor: pointer;
}
.menu {
    margin-top: 2.8%;
    display: flex;
    /* margin-left: 25.7%; */
}
.menu__item {
    font-family: "Montserrat";
    font-weight: "SemiBold";
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    line-height: 18px;
    /* margin-left: 18.6%; */
}
.menu__item:hover {
    color: #e51937;
    background-image: url(/images/underlining.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 21px;
    cursor: pointer;
}
.menu__img-burger {
    /* position: relative;
    bottom: 28%; */
    /* left: 21.8%; */
}
.menu__img-burger:active {
    color: yellow;
}
.menu__img-burger:hover {
    opacity: 0.1;
    cursor: pointer;
}
.menu__img-burger-ipad {
    display: none;
}
.tesla-title {
    max-width: 100%;
    background-image: url(/images/Tesla-Wordmark-Red-1.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.tesla-title__subtitle {
    text-align: center;
    font-family: "Montserrat";
    font-size: 89px;
    font-weight: "SemiBold";
    line-height: 106px;
}
.tesla-title__desk {
    text-align: center;
    font-family: "Montserrat";
    font-weight: "Regular";
    font-size: 15px;
    line-height: 4px;
    /* margin-bottom: 2.3%; */
}
.tesla-title__car-pc {
    display: flex;
    justify-content: center;
    /* margin-left: 13.9%; */
    /* margin-bottom: 1.69%; */
    /* max-width: 100vmax; */
}
.tesla-title__car-mobi {
    display: none;
}
.tesla-title__car-ipad {
    display: none;
}
.tesla-info-block {
    display: flex;
    justify-content: center;
}
.info-block {
    margin-top: 0.1%;
    margin-right: 2.44%;
}
.info-block__img-pc {
    display: flex;
}
.info-block__img-ipad-left {
    display: none;
}
.info-block__img-ipad-right {
    display: none;
}
.info-block__mobile-right {
    display: none;
}
.info-block__mobile-left {
    display: none;
}
.test-drive {
    display: flex;
    margin-top: 0.9%;
    margin-right: 3.58%;
}
.test-drive__responsive {
    padding-bottom: 5.9%;
}
.test-drive__mobile {
    display: none;
}
.test-drive__ipad {
    display: none;
}
.test-drive__desk {
    font-family: "Montserrat";
    font-weight: "Bold";
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    white-space: nowrap;
    padding-top: 4.2%;
    margin-left: 2.6%;
}
.order {
    margin-left: 15%;
    padding: 3.2%;
    font-family: "Montserrat";
    font-weight: "Bold";
    min-width: 160px;
    height: 40px;
    border: 2px solid #e51937;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #e51937;
}
.order:hover {
    cursor: pointer;
    color: green;
    border: 2px solid green;
}
.go-bottom {
    display: flex;
    justify-content: center;
    margin-bottom: 37px;
}
.go-bottom:hover {
    opacity: 0.1;
    cursor: pointer;
}
/* .main {
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    size: 100%;
}
.main__inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-image: url(../images/2013-tesla-model-s-cockpit.png);
    background-position-y: 60px;
    background-repeat: no-repeat;
}
.left-section {
    width: 1000px;
}
.left-section__img {
    display: none;
}
.left-section__title {
    font-family: "Montserrat";
    font-style: "normal";
    font-weight: "SemiBold";
    font-size: 70px;
    line-height: 85px;
    color: #e51937;
    margin-left: 80px;
}
.right-section {
    width: 440px;
    height: 900px;
    background: #e51937;
    color: #ffffff;
}
.main-top {
    margin-left: 52px;
}
.right-section__title {
    font-family: "Montserrat";
    font-size: 30px;
    font-style: "normal";
    font-weight: "SemiBold";
    line-height: 37px;
    margin-top: 51px;
    margin-bottom: 11px;
}
.right-section__text {
    font-family: "Montserrat";
    font-style: "normal";
    font-weight: "Regular";
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 54px;
    margin-right: 72px;
}
.right-section__img {
    flex-direction: column;
    margin-left: 65px;
}
.right-section__img-display {
    margin-bottom: 35px;
}
.right-section__img-wireless {
    margin-bottom: 25px;
}
.right-section__img-bag {
    margin-bottom: 171px;
}
.features {
    display: flex;
    flex-direction: row;
    margin-bottom: 63px;
}
.features-info {
    display: flex;
    flex-direction: row;
    margin-left: 49px;
}
.features-info:hover {
    color: yellow;
    cursor: pointer;
}
.features-info__img {
    margin-right: 10px;
    padding-bottom: 5px;
}
.features-info__img:hover {
    opacity: 0.1;
}
.features-info__desk {
    margin-top: 9px;
    margin-right: 22px;
    font-family: "Montserrat";
    font-style: "normal";
    font-weight: "Bold";
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
}
.features__order {
    box-sizing: border-box;
    border: 2px solid #ffffff;
    width: 160px;
    height: 46px;
}
.features__order:hover {
    color: yellow;
    cursor: pointer;
    border: 2px solid yellow;
}
.features__order-desk {
    margin-top: 9px;
    font-family: "Montserrat";
    font-style: "normal";
    font-weight: "Bold";
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
}
.footer {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.footer__left {
    min-width: 445px;
    height: 950px;
    background-image: url(/images/Red-bg.png);
    color: #ffffff;
}
.footer__left-head {
    font-family: "Montserrat";
}
.footer__title {
    font-size: 30px;
    font-style: "normal";
    font-weight: "SemiBold";
    line-height: 37px;
    margin: 51px 68px 12px 56px;
}
.footer__text {
    text-align: left;
    font-size: 15px;
    font-style: "normal";
    font-weight: "Regular";
    line-height: 18px;
    letter-spacing: 0em;
    margin: 0 68px 49px 56px;
}
.footer__left-body {
    font-family: "Montserrat";
}
.left-body__title {
    margin-left: 56px;
    margin-right: 121px;
    margin-bottom: 26px;
    font-size: 30px;
    font-style: "normal";
    font-weight: "SemiBold";
    line-height: 37px;
    letter-spacing: 0em;
}
.rating {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 56px;
    margin-right: 94px;
    margin-bottom: 16px;
}
.rating__sub-title {
    font-family: "Montserrat";
    font-size: 17px;
    font-style: "normal";
    font-weight: "Bold";
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
}
.rating-second {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 56px;
    margin-right: 94px;
    margin-bottom: 111px;
}
.rating__add {
    font-family: "Montserrat";
    font-style: "normal";
    font-weight: "Bold";
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    opacity: 0.7;
}
.security {
    margin-left: 66px;
    margin-bottom: 51px;
}
.footer__left-bottom {
    margin-bottom: 60px;
}
.footer-info__order {
    display: flex;
    flex-direction: row;
}
.footer-info {
    display: flex;
    flex-direction: row;
    margin-left: 49px;
}
.footer-info:hover {
    color: yellow;
    cursor: pointer;
}
.footer-info__img {
    margin-right: 10px;
    padding-bottom: 7px;
}
.footer-info__img:hover {
    opacity: 0.1;
}
.footer-info__desk {
    margin-top: 9px;
    margin-right: 22px;
    font-family: "Montserrat";
    font-style: "normal";
    font-weight: "Bold";
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
}
.footer__order {
    box-sizing: border-box;
    border: 2px solid #ffffff;
    width: 160px;
    height: 46px;
}
.footer__order:hover {
    border: 2px solid yellow;
    color: yellow;
    cursor: pointer;
}
.footer__order-desk {
    margin-top: 9px;
    font-family: "Montserrat";
    font-style: "normal";
    font-weight: "Bold";
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
}
.footer__right {
    min-width: 995px;
}
.footer__right-title {
    position: relative;
    top: 160px;
    text-align: right;
    font-family: "Montserrat";
    font-style: "normal";
    font-weight: "SemiBold";
    font-size: 200px;
    line-height: 243px;
    opacity: 0.15;
    color: #e51937;
}
.right-pc__img {
    position: relative;
    right: 100px;
    size: 100%;
}
.right-mobi {
    display: none;
}
.right-mobi__img {
    display: none;
}
.right-ipad {
    display: none;
}
.right-ipad__img {
    display: none;
} */
@media (max-width: 375px) {
    .body {
        max-width: 375px;
        min-width: 375px;
        margin: 0;
        padding: 0;
    }
    .header {
        max-width: 375px;
    }
    .container {
        max-width: 375px;
    }
    .nav {
        max-width: 375px;
        display: flex;
        align-items: center;
        margin-bottom: 8%;
    }
    .nav__logo {
        padding: 0;
        margin: 0;
        width: 138px;
        height: 42px;
        margin-top: 1.2%;
        margin-left: 0.5%;
    }
    .nav__menu-s {
        display: none;
    }
    .nav__menu-x {
        display: none;
    }
    .nav__menu-3 {
        display: none;
    }
    .nav__menu-roadster {
        display: none;
    }
    .nav__menu-energy {
        display: none;
    }
    .menu {
        margin: 0;
    }
    .menu__item {
        display: none;
    }
    .menu__img-burger {
        position: static;
        display: flex;
        margin-top: 5%;
        margin-left: 123px;
    }
    .tesla-title {
        max-width: 100%;
        display: block;
        background-image: url(/images/Tesla-Wordmark-Red-mobi.png);
        background-size: auto;
        background-repeat: no-repeat;
        background-position: 0px 15%;
        background-position-y: 65px;
        margin-bottom: 4%;
    }
    .tesla-title__subtitle {
        font-family: "Montserrat";
        font-size: 50px;
        font-style: "normal";
        font-weight: "SemiBold";
        line-height: 61px;
        letter-spacing: 0em;
        text-align: center;
    }
    .tesla-title__desk {
        font-family: "Montserrat";
        font-style: "normal";
        font-weight: "Regular";
        font-size: 10px;
        line-height: 12px;
        margin-bottom: 12.5%;
    }
    .tesla-title__car-pc {
        display: none;
    }
    .tesla-title__car-mobi {
        margin: 0;
        max-width: 100%;
        display: initial;
        text-align: center;
        margin-left: 2%;
    }
    .tesla-info-block {
        display: flex;
        flex-direction: column;
        margin-bottom: 8%;
    }
    .info-block__img-pc {
        display: none;
    }
    .info-block__img-ipad {
        display: none;
    }
    .info-block {
        max-width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: row-reverse;
        margin-bottom: 0;
    }
    .info-block__mobile-right {
        max-width: 100%;
        display: initial;
        margin-right: 7.5%;
    }
    .info-block__mobile-left {
        max-width: 100%;
        display: initial;
        margin-left: 5%;
    }
    .test-drive {
        display: flex;
        margin-top: 11.3%;
        margin-left: 9.5%;
    }
    .test-drive__responsive {
        display: none;
    }
    .test-drive__mobile {
        display: initial;
    }
    .test-drive__desk {
        margin: 0;
        padding-top: 4.6%;
        color: #e51937;
        margin-left: 2.8%;
    }
    .order {
        margin-left: 10%;
        color: #ffffff;
        background-color: #e51937;
    }
    .go-bottom {
        display: flex;
        justify-content: center;
        margin-bottom: 0px;
    }
    /* .main {
        max-width: 375px;
    }
    .main__inner {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        background-image: none;
    }
    .left-section__img {
        display: flex;
    }
    .left-section__title {
        display: none;
    }
    .right-section {
        height: 304px;
        width: 374px;
    }
    .main-top {
        margin-left: 30px;
    }
    .right-section__title {
        margin-top: 18px;
        line-height: 35px;
        font-size: 28px;
    }
    .right-section__text {
        margin-bottom: 34px;
        font-size: 13px;
    }
    .right-section__img {
        display: none;
    }
    .features {
        display: none;
    }
    .footer {
        width: 375px;
        display: flex;
        flex-direction: column-reverse;
    }
    .footer__left {
        height: 304px;
        min-width: 375px;
        background: #e51937;
    }
    .footer__left-head {
        height: 304px;
    }
    .footer__title {
        margin-right: 0;
        margin-bottom: 11px;
        margin-top: 18px;
        margin-left: 40px;
        font-family: "Montserrat";
        font-size: 28px;
        font-style: "normal";
        font-weight: "SemiBold";
        line-height: 35px;
        letter-spacing: 0em;
    }
    .footer__text {
        margin-left: 40px;
        font-family: "Montserrat";
        font-size: 13px;
        font-style: normal;
        font-weight: "Regular";
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
    }
    .footer__left-body {
        display: none;
    }
    .rating {
        display: none;
    }
    .rating-second {
        display: none;
    }
    .security {
        display: none;
    }
    .footer-info__order {
        display: none;
    }
    .footer__right {
        width: 375px;
        height: 300px;
    }
    .right-pc {
        display: none;
    }
    .right-pc__img {
        display: none;
    }
    .right-ipad {
        display: none;
    }
    .right-mobi {
        max-width: 375px;
        position: relative;
        display: initial;
        bottom: 120px;
    }
    .right-mobi__img {
        margin-left: 10px;
        margin-top: 60px;
        display: initial;
    }
    .footer__right-title {
        white-space: nowrap;
        overflow: hidden;
        max-width: 375px;
        font-family: "Montserrat";
        font-size: 100px;
        font-style: "normal";
        font-weight: "SemiBold";
        line-height: 122px;
        letter-spacing: 0em;
        opacity: 0.1;
        position: relative;
        text-align: left;
        right: 8px;
        top: 150px;
    } */
}
@media (max-width: 768px) and (min-width: 376px) {
    .body {
        max-width: 768px;
        min-width: 376px;
        margin: 0;
        padding: 0;
    }
    .header {
        width: 768px;
    }
    .container {
        max-width: 768px;
        margin-bottom: 8%;
    }
    .nav {
        margin: 0;
        padding: 0;
        display: flex;
        margin-bottom: 10.3%;
    }
    .nav__logo {
        margin: 0;
        padding: 0;
        display: flex;
        margin-left: 2%;
        margin-top: 3.1%;
    }
    .nav__menu {
        display: none;
    }
    .menu {
        display: flex;
        margin-left: 67.4%;
        margin-top: 3.1%;
    }
    .menu__item {
        display: none;
    }
    .menu__img-burger {
        display: none;
    }
    .menu__img-burger-ipad {
        display: flex;
    }
    .tesla-title {
        max-width: 100%;
        background-image: url(/images/Tesla-Wordmark-Redipad.png);
        background-repeat: no-repeat;
        background-position: 0px 38%;
    }
    .tesla-title__subtitle {
        font-size: 89px;
        line-height: 110px;
        letter-spacing: 0em;
        margin: 0;
        padding: 0;
    }
    .tesla-title__desk {
        position: relative;
        font-size: 14.5px;
        line-height: 15px;
        letter-spacing: 0em;
        bottom: 6px;
        margin-bottom: 10%;
    }
    .tesla-title__car-pc {
        display: none;
    }
    .tesla-title__car-ipad {
        max-width: 100%;
        display: block;
        margin-left: 6.5%;
        margin-bottom: 2.8%;
        align-items: center;
        text-align: center;
    }
    .tesla-info-block {
        display: flex;
        flex-direction: column;
    }
    .info-block__img-pc {
        display: none;
    }
    .info-block__img-ipad-right {
        max-width: 100%;
        display: flex;
        margin-left: 9.2%;
    }
    .info-block__img-ipad-left {
        max-width: 100%;
        display: flex;
        margin-left: 10%;
    }
    .info-block {
        max-width: 100%;
        display: flex;
        margin-left: 9%;
        flex-direction: row;
        margin-bottom: 2.4%;
    }
    .test-drive {
        max-width: 100%;
        display: flex;
        margin-left: 22.6%;
    }
    .test-drive__responsive {
        display: none;
    }
    .test-drive__ipad {
        max-width: 100%;
        display: flex;
        margin-top: 3%;
    }
    .test-drive__desk {
        display: flex;
        font-family: "Montserrat";
        font-size: 16px;
        font-weight: "SemiBold";
        line-height: 22px;
        letter-spacing: 0em;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        margin-left: 3.6%;
    }
    .order {
        font-family: "Montserrat";
        font-size: 16px;
        font-weight: "SemiBold";
        line-height: 18px;
        letter-spacing: 0em;
        color: #ffffff;
        background: #e51937;
        height: 55px;
        width: 222px;
        align-items: center;
        text-align: center;
        padding-top: 3.6%;
        margin-left: 9.65%;
        margin-top: 3.1%;
    }
}
