* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.body {
    width: 100vmax;
    max-width: 100%;
    text-align: center;
}
.header {
    max-width: 100%;
    width: 100%;
}
.nav {
    width: 100%;
    height: 3.4vh;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    flex-direction: row;
    align-items: center;
    margin: 2.6% 0 4.5% 0;
    padding: 0 2.9%; 
    white-space: nowrap;
}
.nav__logo {  
    width: 15%;  
    max-width: 100%;
    display: flex;
}
.nav__logo-img-mobi {
    display: none;
}
.nav__menu {
    max-width: 100%;
    margin: 0.4% 0 0 0;
    width: 36%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.nav__menu-first {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    width: 38%;
}
.nav__menu-second {
    max-width: 100%;
    width: 57%;
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.nav__menu-s {
    display: flex;
    max-width: 100%;
    font-family: Montserrat;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    font-size: 15px;
    line-height: 19px;
    color: #000;
}
.nav__menu-s:hover {
    color: #e51937;
    background-image: url(/images/underlining.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 22px;
    cursor: pointer;
}
.nav__menu-x {
    display: flex;
    max-width: 100%;
    font-family: Montserrat;
    font-weight: 600;
    text-decoration: none;
    color: #000;
    font-size: 15px;
    line-height: 19px;
}
.nav__menu-x:hover {
    color: #e51937;
    background-image: url(/images/underlining.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 22px;
    cursor: pointer;
}
.nav__menu-3 {
    display: flex;
    max-width: 100%;
    font-family: Montserrat;
    font-weight: 600;
    text-decoration: none;
    color: #000;
    font-size: 15px;
    line-height: 19px;
}
.nav__menu-3:hover {
    color: #e51937;
    background-image: url(/images/underlining.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 21px;
    cursor: pointer;
}
.nav__menu-roadster {
    display: flex;
    max-width: 100%;
    font-family: Montserrat;
    font-weight: 600;
    text-decoration: none;
    color: #000;
    font-size: 15px;
    line-height: 19px;
}
.nav__menu-roadster:hover {
    color: #e51937;
    background-image: url(/images/underlining.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 21px;
    cursor: pointer;
}
.nav__menu-energy {
    display: flex;
    max-width: 100%;
    font-family: Montserrat;
    font-weight: 600;
    text-decoration: none;
    color: #000;
    font-size: 15px;
    line-height: 19px;
}
.nav__menu-energy:hover {
    color: #e51937;
    background-image: url(/images/underlining.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 21px;
    cursor: pointer;
}
.menu {
    padding: 0 1.1% 0 0;
    max-width: 100%;
    margin: 0 0 0 0;
    display: flex;
    justify-content: space-between;
    width: 16.3%;
}
.menu__shop {
    display: flex;
    max-width: 100%;
    font-family: Montserrat;
    font-weight: 600;
    text-decoration: none;
    color: #000;
    font-size: 15px;
    line-height: 19px;
}
.menu__shop:hover {
    color: #e51937;
    background-image: url(/images/underlining.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 21px;
    cursor: pointer;
}
.menu__enter {
    display: flex;
    max-width: 100%;
    font-family: Montserrat;
    font-weight: 600;
    text-decoration: none;
    color: #000;
    font-size: 15px;
    line-height: 19px;
}
.menu__enter:hover {
    color: #e51937;
    background-image: url(/images/underlining.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 21px;
    cursor: pointer;
}
.menu__img-burger {
    display: flex;
    max-width: 100%;
}
.menu__img-burger:active {
    color: yellow;
}
.menu__img-burger:hover {
    opacity: 0.1;
    cursor: pointer;
}
.menu__img-burger-ipad {
    display: none;
}
.tesla-title {
    flex-direction: column;
    background-image: url(/images/Tesla-Wordmark-Red-1.png);
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 100%;
}
.tesla-title__subtitle {
    text-align: center;
    font-family: Montserrat;
    font-size: 89.5px;
    font-weight: 600;
    line-height: 118%;
    margin-bottom: 0.15%;
    max-width: 100%;
}
.tesla-title__desk {
    text-align: center;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 92%;
    line-height: 18%;
    margin-bottom: 2.4%;
    max-width: 100%;
}
.tesla-title__car-pc {
    width: 67vmax;
    max-width: 100%;
    max-height: 100%;
    margin: 0 5% 1.45% 0;
}
.tesla-title__car-mobi {
    display: none;
}
.tesla-title__car-ipad {
    display: none;
}
.tesla-info-block {
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1.8%;
    align-items: center;
}
.info-block {
    margin-right: 2.44%;
}
.info-block__img-pc {
    display: flex;
}
.info-block__img-ipad-left {
    display: none;
}
.info-block__img-ipad-right {
    display: none;
}
.info-block__mobile-right {
    display: none;
}
.info-block__mobile-left {
    display: none;
}
.test-drive {
    display: flex;
    margin-right: 3.58%;
    align-items: center;
}
.test-drive__responsive {
    align-items: center;
    padding-top: 12%;
}
.test-drive__mobile {
    display: none;
}
.test-drive__ipad {
    display: none;
}
.test-drive__desk {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    white-space: nowrap;
    margin-left: 2%;
}
.order {
    margin-left: 15.5%;
    padding:2.8%;
    font-family: Montserrat;
    font-weight: 700;
    min-width: 160px;
    border: 2px solid #e51937;
    font-size: 13px;
    line-height: 126%;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    color: #e51937;
}
.order:hover {
    cursor: pointer;
    color: rgb(128, 0, 64);
    border: 2px solid rgb(128, 0, 79);
}
.go-bottom {
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2.5%;
}
.go-bottom:hover {
    opacity: 0.1;
    cursor: pointer;
}
.main {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 900px;
    margin: 0;
    padding: 0;
}
.main__inner {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-image: url(../images/2013-tesla-model-s-cockpit.png);
    background-position-y: 56.5px;
    background-repeat: no-repeat;
}
.left-section {
    max-width: 100%;
    display: flex;
    width: 68%;
}
.left-section__img {
    display: none;
}
.left-section__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    line-height: 85.3px;
    color: #e51937;
    display: flex;
    padding-left: 8.2%;
    padding-top: 6.5%;
}
.right-section {
    width: 30.55%;
    height: 100%;
    background: #e51937;
    color: #fff;
}
.main-top {
    text-align: left;
    padding-left: 11%;
}
.right-section__title {
    font-family: Montserrat;
    font-size: 29.3px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    padding-top: 13.35%;
    padding-left: 1%;
}
.right-section__text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14.8px;
    line-height: 18.29px;
    margin-bottom: 15.5%;
    padding-right: 18%;
    padding-top: 3%;
}
.right-section__img {
    flex-direction: column;
    text-align: left;
}
.right-section__img-display {
    margin-bottom: 8%;
    padding-left: 1%;
}
.right-section__img-wireless {
    margin-bottom: 5.2%;
}
.right-section__img-bag {
    padding-left: 1%;
    margin-bottom: 42.6%;
}
.features {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.features-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 11.2%;
    width: 53.6%;
}
.features-info:hover {
    color: yellow;
    cursor: pointer;
}
.features-info__img {
    margin-right: 4.2%;
}
.features-info__img:hover {
    opacity: 0.1;
}
.features-info__desk {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}
.features__order {
    max-width: 100%;
    box-sizing: border-box;
    border: 2px solid #fff;
    width: 36.5%;
    height: 40px;
    align-items: center;
}
.features__order:hover {
    color: yellow;
    cursor: pointer;
    border: 2px solid yellow;
}
.features__order-desk {
    padding-top: 6%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
}
.footer {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.footer__left {
    max-height: 100%;
    height: 95vh;
    background: #E51937;
    width: 30.5%;
    color: #fff;
}
.footer__left-head {
    text-align: left;
    padding-left: 12.8%;
}
.footer__title {
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 36.5px;
    padding-top: 13.4%;
}
.footer__text {
    font-family: Montserrat;
    font-size: 14.7px;
    font-style: normal;
    font-weight: 500;
    line-height: 18.4px;
    letter-spacing: 0em;
    padding-right: 15%;
    margin-bottom: 14.9%;
    padding-top: 3.6%;
}
.left-body {
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-transform: uppercase;
    align-items: center; 
    width: 100%;
    max-width: 100%;
    padding-left: 12.8%;
    margin-bottom: 22.7%;
}
.left-body__title {
    font-size: 30px;
    font-family: Montserrat;
    font-weight: 500;
    font-style: normal;
    line-height: 36.5px;
    letter-spacing: 0em;
    margin-bottom: 6.5%;
    text-transform: none;
    align-items: center;
    text-align: left;
}
.left-body__info {
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-transform: uppercase;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 2.3%;
}
.left-body__first {
    display: flex;
    width: 39.6%;
}
.left-body__star-img{
    display: flex;
    width: 36%;
    justify-content: space-between;
}
.left-body__second {
    display: flex;
    width: 39.6%;
}
.left-body__middle {
    display: flex;
    width: 39.6%;
}
.left-body__middle-support {
    display: flex;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    opacity: 0.7;
    padding-left: 2.8%;
    padding-top: 3%;
    align-items: center;
}
.left-body__penultimate {
    display: flex;
    width: 39.6%;
}
.left-body__last {
    display: flex;
    width: 39.6%;
}
.security {
    width: 94%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 11.3%;
}
.footer__left-bottom {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer-info {
    display: flex;
    max-width: 100%;
    align-items: center;
    width: 42.5%;
}
.footer-info:hover {
    color: yellow;
    cursor: pointer;
}
.footer-info__img {
    align-items: center;
    width: 11%;
}
.footer-info__img:hover {
    opacity: 0.1;
}
.footer-info__desk {
    width: 75.5%;
    align-items: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
}
.footer__order {
    width: 40%;
}
.footer__order:hover {
    border: 2px solid yellow;
    color: yellow;
    cursor: pointer;
}
.footer__order-desk {
    border: 2px solid #fff;
    width: 91%;
    height: 40px;
    padding: 5%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    align-items: center;
}
.footer__right {
    width: 69.5%;
    max-width: 100%;
}
.footer__right-title {
    max-width: 100%;
    padding-top: 16.8%;
    text-align: right;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 13.7vw;
    line-height: 100px;
    opacity: 0.15;
    color: #e51937;
}
.right-pc__img {
    max-width: 108%;
    position: relative;
    right: 6.5vmax;
    bottom: 3vmax;
}
.pointer-left {
    position: relative;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 15px;
    text-align: left;
}
.pointer-top {
    position: relative;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 15px;
}
.pointer-bottom {
    max-width: 100%;
    position: absolute;
    left: 65.5vmax;
    top: 166vmax;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 15px;
}
.pointer-bottom__desk {
    padding-left: 0.2%;
    padding-top: 6.3%;
    text-align: left;
}
.right-mobi {
    display: none;
}
.right-mobi__img {
    display: none;
}
.right-ipad {
    display: none;
}
.right-ipad__img {
    display: none;
} 


/* ---media 768px--- */

@media (max-width: 768px) {
    .body {
        max-width: 100%;
        width: 768px;
        margin: 0;
        padding: 0;
    }
    .header {
        max-width: 100%;
        width: 768px;
    }
    .nav {
        width: 768px;
        max-width: 100%;
        display: flex;
        margin: 4.6% 0 11.8% 0;
        padding: 1.9%;
    }
    .nav__logo {
        display: flex;
        justify-content: start;
    }
    .nav__logo-img-mobi {
        display: none;
    }
    .nav__menu {
        display: none;
    }
    .menu {
        width: 7.2%;
        max-width: 100%;
        display: flex;
        justify-content: end;
    }
    .menu__shop {
        display: none;
    }
    .menu__enter {
        display: none;
    }
    .menu__item {
        display: none;
    }
    .menu__img-burger {
        display: none;
    }
    .menu__img-burger-ipad {
        display: flex;
        padding-right: 0;
    }
    .tesla-title {
        width: 100%;
        max-width: 100%;
        background-image: url(/images/Tesla-Wordmark-Redipad.png);
        background-repeat: no-repeat;
        background-position: 0px 36.5%;
    }
    .tesla-title__subtitle {
        width: 100%;
        max-width: 100%;
        font-size: 89px;
        line-height: 110px;
        letter-spacing: 0em;
        margin: 0;
        padding: 0;
    }
    .tesla-title__desk {
        width: 100%;
        max-width: 100%;
        position: relative;
        font-size: 14.6px;
        line-height: 15px;
        letter-spacing: 0em;
        bottom: 6px;
        margin: 0 0 10.6% 0;
    }
    .tesla-title__car-pc {
        display: none;
    }
    .tesla-title__car-ipad {
        width: 87.5%;
        max-width: 100%;
        display: flex;
        margin: 0 0 4.8% 6.2%;
    }
    .tesla-info-block {
        width: 100%;
        max-width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 0 7.8% 0;
    }
    .info-block {
        width: 63.5%;
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin: 0;
    }
    .info-block__img-pc {
        display: none;
    }
    .info-block__img-ipad-left {
        max-width: 100%;
        display: flex;
        justify-content: left; 
    }
    .info-block__img-ipad-right {
        max-width: 100%;
        display: flex;
        justify-content: right;
    }
    .test-drive {
        width: 54.5%;
        max-width: 100%;
        display: flex;
        margin: 0;
        padding: 7% 0 0 0;
        justify-content: space-between;
        align-items: center;
    }
    .test-drive__responsive {
        display: none;
    }
    .test-drive__ipad {
        display: flex;
        max-width: 100%;
        padding: 0;
        margin: 0;
    }
    .test-drive__desk {
        max-width: 100%;
        display: flex;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
        color: #E51937;
        padding: 0.5% 0 0 0;
        margin: 0 6% 0 0;
    }
    .order {
        box-sizing: border-box;
        width: 52.6%;
        height: 8.5vh;
        display: flex;
        justify-content: center;
        max-width: 100%;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: 0em;
        color: #fff;
        background: #e51937;
        align-items: center;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .main {
        width: 100%;
        height: 1029px;
        max-width: 100%;
    }
    .main__inner {
        flex-direction: column;
        background-image: url(../images/2013-tesla-model-s-cockpitipad.png);
        background-position-y: 8.5%;
    }
    .left-section {
        width: 100%;
        height: 500px;
        margin-bottom: 5.6%;
    }
    .left-section__title {
        padding: 6.7% 0 0 56.5%;
    }
    .right-section {
        height: 487px;
        width: 100%;
        flex-direction: column;
        display: flex;
        justify-content: space-between;
    }
    .main-top {
        display: flex;
        padding-left: 3.5%;
        flex-direction: row;
    }
    .right-section__title {
        display: flex;
        padding-top: 7.5%;
        margin-bottom: 0;
        flex-direction: column;
    }
    .right-section__text {
        width: 90%;
        padding-top: 5.5%;
        display: flex;
        text-align: left;
        line-height: 18.5px;
        margin: 0;
    }
    .right-section__img {
        padding: 7.5% 6% 0 0;
        text-align: left;
        flex-direction: row;
    }
    .right-section__img-display {
        padding-left: 1%;
        margin-bottom: 6.5%;
    }
    .right-section__img-wireless {
        padding: 0 1.5% 0 0;
        margin-bottom: 6%;
    }
    .right-section__img-bag {
        padding-right: 1.5%;
        margin: 0;
    }
    .features {
        margin-bottom: 6.8%;
        width: 85%;
        padding-left: 20.2%;
    }
    .features-info {
        width: 48%;
        padding: 0.8% 0 0 0;
    }
    .features-info__img {
        width: 12.5%;
        margin-right: 5.6%;
    }
    .features-info__desk {
        width: 60%;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
    }
    .features__order {
        width: 44.2%;
        height: 55.21px;
    }
    .features__order-desk {
        padding-top: 8%;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
    }
    .footer {
    }
    .footer__left {
    }
    .footer__left-head {
    }
    .footer__title {
    }
    .footer__text {
    }
    .footer__left-body {
    }
    .left-body__title {
    }
    .rating {
    }
    .rating__sub-title {
    }
    .rating__star {
    }
    .rating__star-img {
    }
    .rating__add {
    }
    .rating-second {
    }
    .footer__left-bottom {
    }
    .security {
    }
    .footer-info__order {
    }
    .footer-info {
    }
    .footer-info__img {
    }
    .footer-info__desk {
    }
    .footer__order {
    }
    .footer__order-desk {
    }
    .footer__right {
    }
    .right-pc {
    }
    .footer__right-title {
    }
    .right-pc__img {
    }
    .right-mobi {
    }
    .right-mobi__img {
    }
    .right-ipad {
    }
    .right-ipad__img {
    }
}



/* ---media 375px--- */

@media (max-width: 375px) {
    .body {
        max-width: 100%;
        width: 375px;
    }
    .header {
        max-width: 100%;
    }
    .nav {
        width: 100%;
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 0 0.5%;
        margin: 3% 0 11% 0;
    }
    .nav__logo {
        display: flex;
        padding: 0;
        margin: 0;
    }
    .nav__logo-img {
        display: none;
    }
    .nav__logo-img-mobi {
        display: initial;
    }
    .nav__menu-s {
        display: none;
    }
    .nav__menu-x {
        display: none;
    }
    .nav__menu-3 {
        display: none;
    }
    .nav__menu-roadster {
        display: none;
    }
    .nav__menu-energy {
        display: none;
    }
    .menu {
        display: flex;
        margin: 0;
        padding: 0;
        width: 12%;
    }
    .menu__shop {
        display: none;
    }
    .menu__enter {
        display: none;
    }
    .menu__item {
        display: none;
    }
    .menu__img-burger {
        display: flex;
        margin: 0;
        padding: 0;
    }
    .menu__img-burger-ipad {
        display: none;
    }
    .tesla-title {
        max-width: 100%;
        background-image: url(/images/Tesla-Wordmark-Red-mobi.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position-y: 53%;
        margin-bottom: 4.8%;
    }
    .tesla-title__subtitle {
        max-width: 100%;
        width: 100%;
        font-family: Montserrat;
        font-size: 49.5px;
        font-style: normal;
        font-weight: 600;
        line-height: 60.5px;
        letter-spacing: 0em;
        text-align: center;
        margin: 0 0 1.2% 0;
    }
    .tesla-title__desk {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        margin: 0 0 11.5% 0;
    }
    .tesla-title__car-pc {
        display: none;
    }
    .tesla-title__car-ipad {
        display: none;
    }
    .tesla-title__car-mobi {
        width: 95.5%;
        margin: 0 0 0 2%;
        max-width: 100%;
        display: flex;
    }
    .tesla-info-block {
        display: flex;
        flex-direction: column;
        margin: 0 0 8.4% 0;
    }
    .info-block__img-pc {
        display: none;
    }
    .info-block__img-ipad {
        display: none;
    }
    .info-block__img-ipad-left {
        display: none;
    }
    .info-block__img-ipad-right {
        display: none;
    }
    .info-block {
        max-width: 100%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: row-reverse;
        margin: 0;
        padding: 0;
    }
    .info-block__mobile-right {
        max-width: 100%;
        display: initial;
        margin: 0 8% 0 0;
    }
    .info-block__mobile-left {
        max-width: 100%;
        display: initial;
        margin: 0 0 0 5.5%;
    }
    .test-drive {
        display: flex;
        margin: 0;
        padding: 11.5% 0 0 0;
        align-items: center;
        justify-content: center;
        width: 81%;
        max-width: 100%;
    }
    .test-drive__responsive {
        display: none;
    }
    .test-drive__ipad {
        display: none;
    }
    .test-drive__mobile {
        display: initial;
        margin: 0;
        padding: 20% 0 0 0;
    }
    .test-drive__desk {
        color: #e51937;
        padding: 0;
        font-family: Montserrat;
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0em;
        width: 40%;
        max-width: 100%;
        margin: 0 0 0 1.7%;
    }
    .order {
        color: #fff;
        background-color: #e51937;
        font-family: Montserrat;
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: center;
        width: 50%;
        height: 6.8vh;
        max-width: 100%;
    }
    .go-bottom {
        display: flex;
        justify-content: center;
        margin-bottom: 0%;
        padding-bottom: 0%;
    }
    .main {
        max-width: 100%;
        height: 625px;
    }
    .main__inner {
        height: 100%;
        flex-direction: column;
        background-image: none;
        background-position-y: 0;
        justify-content: none;
    }
    .left-section {
        display: block;
        width: 100%;
        margin: 0;
        height: 323px;
    }
    .left-section__img {
        max-width: 100%;
        display: initial;
        height: 332px;
        width: 100%;
        margin: 0;
    }
    .left-section__title {
        display: none;
    }
    .right-section {
        height: 70%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .main-top {
        padding: 0 0 0 7.3%;
        margin: 0;
    }
    .right-section__title {
        margin-top: 18px;
        padding: 0;
    }
    .right-section__text {
        margin: 0;
        padding-top: 3%;
        padding-right: 0;
    }
    .right-section__img {
        display: none;
    }
    .features {
        display: none;
    }
    .footer {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    .footer__left {
        height: 304px;
        min-width: 375px;
        background: #e51937;
    }
    .footer__left-head {
        height: 304px;
    }
    .footer__title {
        margin-right: 0;
        margin-bottom: 11px;
        margin-top: 18px;
        margin-left: 40px;
        font-family: Montserrat;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: 35px;
        letter-spacing: 0em;
    }
    .footer__text {
        margin-left: 40px;
        font-family: Montserrat;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
    }
    .footer__left-body {
        display: none;
    }
    .rating {
        display: none;
    }
    .rating-second {
        display: none;
    }
    .security {
        display: none;
    }
    .footer-info__order {
        display: none;
    }
    .footer__right {
        width: 375px;
        height: 300px;
    }
    .right-pc {
        display: none;
    }
    .right-pc__img {
        display: none;
    }
    .right-ipad {
        display: none;
    }
    .right-mobi {
        max-width: 375px;
        position: relative;
        display: initial;
        bottom: 120px;
    }
    .right-mobi__img {
        margin-left: 10px;
        margin-top: 60px;
        display: initial;
    }
    .footer__right-title {
        white-space: nowrap;
        overflow: hidden;
        max-width: 100%;
        font-family: Montserrat;
        font-size: 100px;
        font-style: normal;
        font-weight: 600;
        line-height: 122px;
        letter-spacing: 0em;
        opacity: 0.1;
        position: relative;
        text-align: left;
        right: 8px;
        top: 150px;
    }
}